.register-form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 800px;
}

.mid-reg-form {
  display: flex;
  flex-direction: column;

}
