
* {box-sizing: border-box}

html {
  --page-width: 880px
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto
}

main {
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto
}

h1 {
  margin-block: 0
}

ul.inline {
  list-style-type: none;
  padding-left: 0;
  --li-space: 0.5em
}

ul.inline li {
  display: inline;
  margin-left: var(--li-space)
}


ul.inline li:after {
  content: '|';
  padding-left: var(--li-space)

}

ul.inline li:first-child {
  margin-left: 0
}

ul.inline li:last-child:after {
  content: ''
}

.cartIcon {
  height: 1em;
  vertical-align: middle
}

/* need to make responsive below -------------------------------------- */

.login-form { /* components/Login.js*/
  display: flex;
  justify-content: space-around;
}

.reg-form { /* components/Register.js*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-top { /* components/Register.js*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.reg-bottom { /* components/Register.js*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.landingPage { /* components/LandingPage.js*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 125px;
}

table {
  width: 90%;
  border: 1px solid #9d978c;
  color: #0b0a09;
  counter-reset: row-num -1;
}
table tr {
  counter-increment: row-num;
}
table tr td:first-child::before {
    content: counter(row-num) ". ";
    padding: 15px;
}
.tableDiv {
  background-color:lemonchiffon;
  display: flex;
  justify-content: center;
  padding:30px;
  border-radius: 15px;

}
.card{
  border-radius:5px;
  height:100px;
  width:150px;
  text-align:center;
  margin:10px;
  padding:20px;
  color:rgb(237, 172, 7);
  font-Size:20px;
  font-weight: bold;
  box-shadow:0px 2px 6px white, 0px 4px 6px rgba(240, 110, 4, 0.99);
  
}
.card:hover{
  box-shadow:0px 2px 7px white, 0px 4px 9px rgb(128, 128, 128);

}
/* need to make responsive above -------------------------------------- */

